<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur la boutique en ligne !</h1>
    <p>Utilisez les liens ci-dessous pour naviguer :</p>
    <ul>
        <li><a href="{% url 'liste_ventes' %}">Voir les ventes</a></li>
        <li><a href="{% url 'Ajouter_vente' %}">Ajouter une vente</a></li>
        <li><a href="{% url 'tableau_de_bord' %}">Tableau de bord</a></li>
        <li><a href="{% url 'index' %}">Ajouter une vente</a></li>

        
    </ul>
</body>
</html>
